<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/sendResetPasswordEmail" method="post" id="resetForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Reset Your Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Enter Your Email</label>
                        <input type="email" class="form-control" required id="email"
                               name="email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Send Password Reset Email">
                </div>
            </form>
        </div>
    </div>
</div>
