<nav class="navbar bg-body-tertiary sticky-top mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://www.iskconcommunications.org/images/faviconiskcon.png" alt="Logo" width="30" height="30"
                 class="d-inline-block align-text-top">
            HARE KRSNA LAND
        </a>
        <form class="d-flex" role="search" action="." method="get">
            <input class="form-control me-2" type="search" name="search" value="<%= search %>" placeholder="Search Vacation Spots" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>